img, embed,
object, video {
  max-width: 100%;
}



body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #424242;
}

/* Global */
.container{
  width:100%;
  margin: auto;
  overflow: hidden;
}

/* Header */
header{
  color: #ffffff;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: #ff5700 3px solid;
}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

header ul{
  margin-top: 80px;
  padding: 0;
}

header li{
  display:inline;
  padding: 0 20px 0 20px;

}

header #branding{
float: left;
padding-left: 40px;
}

header #branding h1{
  margin: 0;
  font-size: 30px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #ff5700;
}

header a:hover{
  color: #8DB600;
}

header #branding img{
  width: 75px;
  }


/* showcase */
#showcase{
  min-height:400px;
  background: url('https://github.com/Quarterican-KJ/PortfolioSite/blob/master/BlackBanner.jpg?raw=true') no-repeat;
  background-size:cover;
  text-align: center;
}

#showcase h1{
  margin-top: 25px;
  font-size: 55px;
  margin-bottom: 10px;
  color: #ff5700;
  text-shadow: 2px 2px #000000;
}

#showcase p{
  margin-top: 100px;
  font-size: 25px;
  color: #ff5700;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

#showcase img{
  width:100%;
}


/* boxes */

#boxes{
  margin-top: 20px;
}

#boxes h2{
  color: #ff5700;
}


#boxes .box{
  float:left;
  text-align: center;
  width: 30%;
  padding-left: 30px;
}

#boxes .box p{
  color: #ffffff
}

#boxes .box img{
  width:90px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  border-top: #ff5700 3px solid;
  text-align: center;
}

/* media Queries */
@media and screen(max-width: 360px){
  header #branding,
  header nav,
  header nav li
  header ul {
    float: none;
    text-align: center;
    width: 100%;

  }
  header ul {
    margin-top: 0px;
  }
}
